.scroll-bar{
    -fx-background-color: white;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-background-insets:  0;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 2 0 2 0;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(215,215,215);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(96,96,96);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5 5 5 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5 5 5 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 180;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,white;
}

.tree-cell {
    -fx-padding: 0.8em 0em 0.8em 0.3em;
    -fx-text-fill: #212121;
    -fx-font: 12px "Segoe UI";
}
.tree-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,white;
}
.tree-view .tree-cell:empty:hover {
    -fx-background-color: white;
}
.tree-view .tree-cell:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);
}
.tree-view .tree-cell:filled:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.tree-view:focused .tree-cell:focused {
    -fx-background-color: -fx-box-border, white;
}
.tree-view:focused .tree-cell:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);
}
.tree-view:focused .tree-cell:filled:focused:selected,
.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: -fx-box-border,rgb(205,205,205);
}
.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.27em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: 90;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 180;
}
.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}
.tree-cell .tree-disclosure-node {
    -fx-padding: 3;
}


.label {
    -fx-text-fill: black;
}
.table-view .label {
	-fx-text-fill: BLACK;
}
.tooltip {
    -fx-background-color:firebrick;
}
.tree-view {
    -fx-text-fill: black;
}

.table-cell {
    -fx-padding: 0.8em 0em 0.5em 0.3em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
}
.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
}
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
.table-row-cell {
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: rgb(205,205,205);
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgb(231,231,231);
}
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);
}

.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

#header {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}

.submit {
    -fx-spacing: 10;
}

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}



.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        dodgerblue; /* this line is the background color of the bar */
    /*-fx-background-insets: 0, 1, 2;*/
    -fx-padding: 0.416667em; /* 5 */
}

.button {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        /*linear-gradient(#020b02, #3a3a3a),*/
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


.form {
    -fx-padding: 25 25 25 25;
    -fx-alignment: top-center;
}

.pane {
    -fx-background-color: rgba(255, 239, 213, 0.69);
}

.root{
        -fx-background-color: linear-gradient(to bottom , #B7D4B7, #8FBC8F);

}

.invalid {
    -fx-text-fill:red;
}

.dirty {
    -fx-text-fill:yellow;
}
.text-field {
	-fx-background-color: papayawhip,white;
    -fx-background-radius: 15;

}
.text-field:focused {
	-fx-background-color: orange,white;
}
.text-area {
	-fx-background-color: papayawhip,white;
}
.text-area:focused {
	 -fx-background-color: orange,white;
 }

.toolbar-button {
    -fx-padding: 1
}

.search-field {
    -fx-background-color: papayawhip,white;
    -fx-background-radius: 15;

}

.search-field:focused {
	-fx-background-color: orange,white;
}